/* CSS Reset */
html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
}

body {
    margin-bottom: 160px;
}

html {
    position: relative;
    min-height: 100%;
}


/* Main Content */
body {
	background-color: #3c8fd1;
	background-image: url("https://skwongman.github.io/team-project/img/background.png");
	background-position: 0px 530px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: "微軟正黑體", "思源黑體", Roboto, sans-serif;
}

.outer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	padding: 10px;
	text-align: center;
}

.container {
	display: flex;
	width: 1500px;
}

.forecast {
	flex: auto;
	width: 50%;
}

.weather-main {
	display: flex;
}

.today-weather {
	flex: auto;
	width: 50%;
}

.tomorrow-weather {
	flex: auto;
	width: 50%;
}

.UV-index-Weather-Information {
	display: flex;
}

.UV-index {
	flex: auto;
	width: 50%;
}

.Weather-Information {
	flex: auto;
	width: 50%;
}

.weather-map {
	flex: auto;
	width: 40%;
}

@media(max-width:1250px) {

	.outer-container {
		margin: 30px 50px 50px 50px;
	}

	.weather-main {
		flex-wrap: wrap;
	}

	.today-weather {
		width: 50%;
	}
	
	.tomorrow-weather {
		width: 50%;
	}

	.weather-map {
		display: none;
	}

	.UV-index-Weather-Information {
		flex-wrap: wrap;
	}

	.UV-index {
		width: 50%;
	}

	.Weather-Information {
		width: 50%;
	}

}

@media(max-width:800px) {

	.today-weather {
		width: 90%;
	}
	
	.tomorrow-weather {
		width: 90%;
		margin: 20px 0px 20px 0px;
	}

	.UV-index-Weather-Information {
		display: block;
	}

	.UV-index {
		width: 100%;
		margin-bottom: 20px;
	}

	.Weather-Information {
		width: 100%;
	}

}