.layout{
    border-radius: 10px;
    /* background-image: url(/img/ad2.jpg); */
    background-size: cover;
    height: 205px;
    margin: 5px;
    margin-left: 5px;
}
.split3{
    height: 100%;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 30px 1fr 1px;
    /* position: relative; */
}
.leftButton{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rightButton{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.middle{
    display: grid;
    grid-template-rows: 1fr 1px;
    margin-bottom: 20px;
}
.right{
    height:25px;
    width: 20px;
}