.tomorrow-weather-container {
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: 320px;
    margin: 5px 5px 5px 10px;
    border-radius: 10px;
    background-color: #1a67b1;
}

.tomorrow-weather-container:hover {
    background-color: #045bac;
    transition: background-color .2s linear, border-color .1s linear;
}

.tomorrow-day-weather,
.tomorrow-night-weather {
    flex: auto;
    width: 50%;
    padding: 5px;
    opacity: 0;
}

.tomorrow-day-weather.border {
    border-right: 0.5px solid rgba(255, 255, 255, 0.486);
}

.tomorrow-day-weather-title,
.tomorrow-day-weather-period,
.tomorrow-day-weather-icon,
.tomorrow-day-weather-temp,
.tomorrow-day-rainfall,
.tomorrow-night-weather-title,
.tomorrow-night-weather-period,
.tomorrow-night-weather-icon,
.tomorrow-night-weather-temp,
.tomorrow-night-rainfall {
    margin: 15px;
}

.tomorrow-day-weather-icon,
.tomorrow-night-weather-icon {
    width: 60%;
    height: 80px;
    object-fit: contain;
}

.tomorrow-day-weather-temp,
.tomorrow-night-weather-temp {
    font-size: 20px;
}

.tomorrow-day-rainfall,
.tomorrow-night-rainfall {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.tomorrow-day-rainfall-icon,
.tomorrow-night-rainfall-icon {
    flex: auto;
    width: 50%;
    margin: 13px 5px 5px 5px;
    text-align: right;
}

.tomorrow-day-rainfall-icon > img,
.tomorrow-night-rainfall-icon > img {
    width: 30px;
    height: 30px;
}

.tomorrow-day-rainfall-rate,
.tomorrow-night-rainfall-rate {
    flex: auto;
    width: 50%;
    margin: 5px;
    text-align: left;
}

@media(max-width:1200px) {

	.tomorrow-weather-container {
		margin: 5px 0px 0px 5px;
	}

}

@media(max-width:800px) {

	.tomorrow-weather-container {
		margin: 5px 0px 0px 0px;
	}

}