#div-uv-index {
    position: relative;
    width: auto;
    height: 145px;
    margin-top: 5px;
    padding: 30px;
    border-radius: 10px;
    background-color: #1a67b1;
    color: white;
    font-size: .875rem;
    text-align: left;
}

#div-uv-index:hover {
    background-color: #045bac;
    transition: background-color .2s linear, border-color .1s linear;
}

#dropdown-station-name {
    margin-top: 20px;
}

#select-station-names select {
    font-size: .875rem;
}

#icon-and-bar {
    justify-content: space-between;
    margin-top: 10px;
    white-space:nowrap;
}

#uv-index-emoji {
    display: inline-block;
    justify-content: space-between;
    margin: 0 10px 0 0;
    font-size: 50px;
    vertical-align: -5px;
}

#uv-index-bar {
    display: inline-block;
    vertical-align: middle;
}

progress {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    text-align: right;
}

progress:after {
    color: white;
    content: attr(value);
}

/* background: */
progress::-webkit-progress-bar {
    width: 100%;
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: var(--c,red);
}

#uv-index-datatime {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

p, label {
    font-size: 16px;
}