/* 請(1)Nina和(2)緯宸負責這個文件。為避免文件有衝突，請你們只有其中一位發PR給我 */
* {
    font-family: "Fjalla One";
  }
  body {
    /* background-color: translate; */
    background-image:
      url("paper_clouds.jpg");
  }
  .weather{
    width: 1200px;
    display:flex; 
    margin-right: auto;
    margin-left:  auto;
  }
  .app {
    flex: auto;
    margin-left: 0;
    color: #6495ed;
    font-size: 30px;
  }
  .title_area {
    margin-left: 0;
    color: #6495ed;
    font-size: 30px;
  }
  .title_area hr {
    width: 150px;
    margin-left: 0;
    border: none;
    border-bottom: solid 2px #6495ed;
  }
  h4 {
    margin: 0;
    margin-top: 10px;
  }
  h2 {
    margin-top: 20px;
  }
  .taiwan-map{
    flex: none;
  }
  svg {
    height: 100vh;
  }
  g {
    stroke: #1e90ff;
    fill: #f0ffff;
    cursor: pointer;
  }
  g:hover {
    fill: #6495ed;
    transform: translate(-5px, -5px);
  }
  .weather1{
            
    width: 720px;
    height: 665px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}


.up{
    height: 300px;
}
.down{
    height: 350px;
}
.card{
    background-color:rgb(18, 143, 211);
    border-radius: 10px;
}
.left-top{
  height:300px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right-top{
    height:300px ;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
}
.left-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
}
.card:hover{
    background-color:rgb(2, 90, 138);
}
.left-right{
    border-radius: 10px;
    background-color: white;
}
.doun-left{
    background-color: none;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}
 .text-info{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.activityImage{
    background-color: none;
    background-image: url(/static/2022-1230_questionnaire.jpg);
    background-size:contain;
}
a{
    text-decoration: none;
    color: white;
}
.select-country{
  height: 300px;
    padding: 10px;
}
.citySelection{
    margin-top: 10px;
    padding: 5px;
    border-color: beige;
    background-color: white;
    border-radius: 5px;
}
.countryDate{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: azure;
}
.countryTime{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: azure;
}
.countryInfo{
    font-size: small;
    color: white;
}
.countrySelection{
    margin-top: 10px;
    padding: 5px;
    border-color: beige;
    background-color: white;
    border-radius: 5px;
}
.countrySubmit{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
}
.show-country-info{
  height: 300px;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}
.more{
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
}
.nowTime{
    display: flex;
    justify-content: center;
    font-size:medium;
    color: white;
}
.image{
  height: 50px;
    display: flex;
    justify-content: center;
    color: white;
}
.nowTemp{
    display: flex;
    justify-content: center;
    color: white;
}    .text{
    display: flex;
    align-items: center;
}


@media (max-width:1200px){
    .weather{
        width: 100%;
    }
}
@media (max-width:599px){
    .weather{
        display:block; 
    }
}
  
