.app {
  flex: auto;
  margin-left: 0;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.title_area {
  margin-top: 20px;
  margin-left: 0;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.title_area hr {
  width: 150px;
  margin-left: 0;
  border: none;
  border-bottom: solid 2px #fff;
}

.temperature{
  opacity: 0;
}

.place{
  opacity: 0;
}
.wx{
  opacity: 0;
}

.taiwan-map{
  flex: none;
}

svg {
  height: 635px;
}

g {
  cursor: pointer;
  stroke: #054b85;
  fill: #e6f8fc;
}

g:hover {
  transform: translate(-5px, -5px);
  fill: #197ac9;
}

@media(max-width:800px) {

  svg {
    height: 450px;
  }

}